services:
  hire_harsh:
    image: hire_harsh-app:latest-${ENVIRONMENT}
    build:
      context: .
      dockerfile: Dockerfile
      secrets:
        - source: guardrails_token
          target: guardrails_token
    ports:
      - "8000:8000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - LLM_PROVIDER=${LLM_PROVIDER}
      - ENVIRONMENT=${ENVIRONMENT}

secrets:
  guardrails_token:
    environment: GUARDRAILS_TOKEN
